page-auction {
  .chart{
    padding: 0.2em;
  }

  .address {
    font-size: 1.2em;
    font-weight: 800;
  }

  .header{
    font-size: 1.4em;
    font-weight: 800;
  }

  .records{
    font-size: 1.2em;
    font-weight: 500;
  }
}
