page-states {
  .bg {
    /* The image used */
    background-image: url("../../assets/imgs/horse-shoes.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .transparent-items button{
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-weight: bold;
  }

  .state-list {
    font-size: 1.2em;
    padding-bottom: 10px;
  }

  .state-header {
    font-size: 2em;
  }
}


