<!--
  Generated template for the AuctionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{state}} Auctions</ion-title>
    <ion-buttons padding-right end>
      <button ion-button icon-only (click)="changeTransportationCity()">
        <ion-icon name="md-car"></ion-icon>
      </button>
      <button ion-button icon-only (click)="changeDisplayType()">
        <ion-icon name="{{iconType}}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">

  <ion-row class="transparent-items auction-header">
    <ion-col >Auction</ion-col>
    <ion-col  *ngIf="(displayType$ | async)=='steer'" (click)="sortByAvgSteerPrice()">Average/Median <br/> Steer Price (per Cwt)</ion-col>
    <ion-col  *ngIf="(displayType$ | async)=='heifer'" (click)="sortByAvgHeiferPrice()">Average/Median <br/> Heifer Price (per Cwt)</ion-col>
    <ion-col  *ngIf="(displayType$ | async)=='steer'">Record Count</ion-col>
    <ion-col  *ngIf="(displayType$ | async)=='heifer'">Record Count</ion-col>
    <ion-col >Last Report Date</ion-col>
    <ion-col> Transporation Cost</ion-col>
  </ion-row>
  <ion-row class="transparent-items auction-list" *ngFor="let auction of auctionDisplayList$ | async" (click)="pushAuctionPage(auction)">
    <ion-col >{{auction.name}}</ion-col>
    <ion-col  *ngIf="(displayType$ | async)=='steer'">${{auction.steerAvgPrice}} / ${{auction.steerMedPrice}}</ion-col>
    <ion-col  *ngIf="(displayType$ | async)=='heifer'">${{auction.heiferAvgPrice}} / ${{auction.heiferMedPrice}}</ion-col>
    <ion-col  *ngIf="(displayType$ | async)=='steer'">{{auction.steerCount}}</ion-col>
    <ion-col  *ngIf="(displayType$ | async)=='heifer'">{{auction.heiferCount}}</ion-col>
    <ion-col >{{auction.lastReportDate}}</ion-col>
    <ion-col *ngIf="(transportationCity$ | async)=='TN'"> {{auction.transportation.TN.totalCost}}</ion-col>
    <ion-col *ngIf="(transportationCity$ | async)=='KC'"> {{auction.transportation.KC.totalCost}}</ion-col>
  </ion-row>
</ion-content>
